openapi: 3.0.0
info:
  title: Thaïs Partner API
  description: >-
    Le PMS APIfier.


    Cette API permet de lire et d'écrire les informations dans votre PMS.  
      
    La documentation des webhooks est accessible via cette url :
    [https://demo.thais-hotel.com/hub/doc/webhook.html](https://demo.thais-hotel.com/hub/doc/webhook.html)


    Contact Support :


    Name : Vionnet Aurélien


    Email : [a.vionnet@thais-soft.com](https://mailto:a.vionnet@thais-soft.com)
  version: 1.0.0
  x-logo:
    url: /hub/logo-thais.svg
    altText: Thaïs PMS
servers:
  - url: 'https://demo.thais-hotel.com'
    description: Demo environment server
  - url: 'http://dev.thais-vm.local/'
    description: Local dev environment server
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Général
  - name: Clients
    description: >-
      Cette partie décrit l'ensemble de route permettant de lire/écrire des
      informations sur les clients de l'établissement.
  - name: Hotel
    description: >-
      Cette partie va définir l'ensemble des routes d'API permettant de lire et
      écrire des données concernant les réservations hôtel.
  - name: Hotel - (eResa)
    description: >-
      Thaïs possède un système de pré-réservation nommé **eResa**.  

      Un **eResa** est une réservation brute qui sert de passerelle entre les
      Channel Managers (CM) et notre système de réservation.
  - name: Resort
  - name: Restaurant
  - name: Notifications
    description: |-
      Système de notification.  
      Ce système permet de "viser" un type d'élément.  
      Les type d'éléments possible actuellement sont:

      `TARGET_TYPES = [ 'booking', 'bookingGroup', 'eBooking', 'customer' ]`

      Les modules possible sont:

      `MODULES = ['HOTEL', 'RESTO', 'RESORT', 'POS']`
  - name: Ménage
  - name: Service
  - name: Log
paths:
  /hub/api/partner/login:
    post:
      tags:
        - Général
      summary: Demande de token de connexion
      description: >
        Demande de token d'authentification.

        Le token en retour sera à utiliser dans tous les appels aux routes
        d'API.

        Ce token a une durée de 10 minutes.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                username: thaisAPI
                password: thaisAPI2024
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Token de connexion:
                  value:
                    token: >-
                      eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2MTM2OTgwOTgsImV4cCI6MTYxMzY5ODY5OCwidXNlcl9pZCI6MSwidXNlcl91c2VybmFtZSI6InN1cHBvcnQifQ.sZAsmTdtQliNKz8zBOpZWIfNFfeeOGJwKRs1Fwj1M4E
        '401':
          content:
            application/json:
              examples:
                Erreur de connexion:
                  value:
                    reason: invalid credentials
  /hub/api/partner/config:
    get:
      tags:
        - Général
      summary: Configuration de l'instance
      description: >-
        Demande de la configuration de l'instance.


        le param lang peut etre donner pour recevoir la config dans une langue
        differente.
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: lang
          in: query
          schema:
            type: string
          example: fr
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Configuration de l'instance:
                  value:
                    name: Thaïs-dev
                    address: 245 Sous le Mont Noir
                    postcode: '39150'
                    city: Lac des Rouges Truites
                    country: France
                    phone: 0663329176
                    email: dev@thais-hotel.com
                    website: 'http://thais-soft.com'
                    geo_json:
                      lat: '46.6167908'
                      lng: '6.0297584'
                    currency: EUR
                    currency_be: EUR
                    change_rate: 1
                    max_booking_time: '23:59:59'
                    custom_code: ''
                    arrival_timerange:
                      - '15:00'
                      - '20:00'
                    departure_timerange:
                      - '06:00'
                      - '12:00'
                    colors:
                      banner: '#618fe6'
                      action: null
                    language:
                      id: 1
                      code: fr
                      label: Français
                    payment:
                      gift_card: true
                      is_payment: false
                      percent_deposits: 30
                      payline:
                        active: true
                        widget_js_url: >-
                          https://homologation-payment.payline.com/scripts/widget-min.js
                        widget_css_url: >-
                          https://homologation-payment.payline.com/styles/widget-min.css
                    resort:
                      civilities:
                        - id: 1
                          label: M.
                          rank: 1
                          deleted: false
                        - id: 2
                          label: Mme.
                          rank: 2
                          deleted: false
                        - id: 3
                          label: Melle.
                          rank: 3
                          deleted: false
                        - id: 4
                          label: Sté
                          rank: 4
                          deleted: false
                      languages:
                        - id: 1
                          code: fr
                          label: Français
                      article_categories:
                        - id: 4
                          label: Petit déjeuner
                          color: ''
                        - id: 7
                          label: Hébergement supp
                          color: ''
                        - id: 10
                          label: Divers
                          color: ''
                        - id: 13
                          label: Bar
                          color: ''
                        - id: 16
                          label: Location vélo
                          color: ''
                        - id: 1
                          label: Boutique
                          color: ''
                      articles: []
                      cms_content:
                        hotel_characteristics: ''
                        terms_of_sales: >-
                          <p><strong>Article 1 - dur&eacute;e du s&eacute;jour
                          :&nbsp;</strong></p>

                          <p><span style="line-height: 1.3;">Le client
                          signataire du contrat conclu pour une dur&eacute;e
                          d&eacute;termin&eacute;e ne pourra en aucune
                          circonstance se pr&eacute;valoir d'un quelconque droit
                          au maintien dans les lieux.</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 2 - conclusion du
                          contrat :&nbsp;</strong></span></p>

                          <p><span style="line-height: 1.3;">La
                          r&eacute;servation en ligne devient effective
                          apr&egrave;s paiement des arrhes. Sans paiement sous
                          48 heures, la pr&eacute;-r&eacute;servation sera
                          automatiquement annul&eacute;e.</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 3 - annulation par
                          le client:</strong>&nbsp;</span></p>

                          <p><em><strong><span style="line-height: 1.3;">* Pour
                          les r&eacute;servations affectu&eacute;es jusqu'au 26
                          f&eacute;vrier 2024 :&nbsp;</span></strong></em></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">a)</strong>&nbsp;En cas
                          d&rsquo;annulation ou de modification
                          jusqu&rsquo;&agrave; 7 jours avant la date
                          d&rsquo;arriv&eacute;e, aucun frais ne sera
                          pr&eacute;lev&eacute;.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">b)</strong>&nbsp;En cas
                          d&rsquo;annulation ou de modification tardive ou de
                          non-pr&eacute;sentation, le propri&eacute;taire exige
                          100% du montant du s&eacute;jour.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">c)&nbsp;</strong>Tout
                          s&eacute;jour commenc&eacute; est d&ucirc;.</span></p>

                          <p>&nbsp;</p>

                          <p><em><strong><span style="line-height: 1.3;">* Pour
                          les r&eacute;servations effectu&eacute;es &agrave;
                          partir du 26 f&eacute;vrier 2024
                          :&nbsp;</span></strong></em></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">a)</strong> En cas
                          d&rsquo;annulation ou de modification
                          jusqu&rsquo;&agrave; 48 Heures avant la date
                          d&rsquo;arriv&eacute;e, aucun frais ne sera
                          pr&eacute;lev&eacute;.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">b)</strong> En cas
                          d&rsquo;annulation ou de modification tardive ou de
                          non-pr&eacute;sentation, le propri&eacute;taire exige
                          100% du montant du s&eacute;jour.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">c) </strong>Tout
                          s&eacute;jour commenc&eacute; est d&ucirc;.</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 4 - arriv&eacute;e
                          :</strong>&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">Le client est
                          accueilli le jour pr&eacute;cis&eacute; &agrave;
                          partir de 16 H ou plus t&ocirc;t selon la
                          disponibilit&eacute;. En cas d'arriv&eacute;e tardive,
                          le client doit pr&eacute;venir le
                          propri&eacute;taire.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 5 &ndash;
                          R&egrave;glements :</strong>&nbsp;</span></p>

                          <p><span style="line-height:
                          1.3;">&nbsp;R&egrave;glement au propri&eacute;taire
                          par : Esp&egrave;ces, CB ou
                          ch&egrave;que.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 6 - taxe de
                          s&eacute;jour :&nbsp;</strong></span></p>

                          <p><span style="line-height: 1.3;">La taxe de
                          s&eacute;jour est un imp&ocirc;t local que le client
                          doit acquitter aupr&egrave;s du propri&eacute;taire
                          qui la reverse ensuite au Tr&eacute;sor Public. Elle
                          est incluse dans le tarif.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">Article 7 - utilisation des
                          lieux :&nbsp;</strong></span></p>

                          <p><span style="line-height: 1.3;">Le client devra
                          respecter le caract&egrave;re paisible des lieux, en
                          faire un usage conforme &agrave; leur destination. Il
                          s&rsquo;engage &agrave; rendre les h&eacute;bergements
                          en bon &eacute;tat.</span></p>

                          <p>&nbsp;</p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">&nbsp;Article 8-
                          capacit&eacute; :</strong>&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">Le contrat est
                          &eacute;tabli pour un nombre pr&eacute;cis de
                          personnes. Si le nombre de clients d&eacute;passe ce
                          nombre, le propri&eacute;taire est en mesure de
                          refuser les clients suppl&eacute;mentaires. Ce refus
                          ne peut en aucun cas &ecirc;tre
                          consid&eacute;r&eacute; comme une modification ou une
                          rupture du contrat &agrave; l'initiative du
                          propri&eacute;taire, de sorte qu'en cas de
                          d&eacute;part d'un nombre de clients sup&eacute;rieur
                          &agrave; ceux refus&eacute;s, le prix correspondant au
                          co&ucirc;t de l'h&eacute;bergement reste acquis au
                          propri&eacute;taire.&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;"><strong
                          style="line-height: 1.3;">&nbsp;Article 10 - assurance
                          :</strong>&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">Le client est
                          responsable de tous les dommages survenant de son
                          fait.Il doit donc v&eacute;rifier si son contrat
                          d'habitation principale pr&eacute;voit l'extension
                          vill&eacute;giature (location de vacances). Le
                          locataire atteste &ecirc;tre couvert par une assurance
                          de responsabilit&eacute; civile couvrant sa propre
                          responsabilit&eacute; et celle des personnes
                          l'accompagnant.</span></p>

                          <p><span style="line-height: 1.3;">&nbsp;</span></p>

                          <p><strong style="line-height: 1.3;">Article 11 -
                          litiges :</strong><span style="line-height:
                          1.3;">&nbsp;</span></p>

                          <p><span style="line-height: 1.3;">Il est
                          recommand&eacute; de s'adresser &agrave; l'Office de
                          Tourisme qui interviendra pour favoriser le
                          r&egrave;glement &agrave; l'amiable des litiges - si
                          la r&eacute;clamation est formul&eacute;e dans les
                          trois premiers jours apr&egrave;s l'arriv&eacute;e,
                          pour tout litige concernant l'&eacute;tat des lieux ou
                          l'&eacute;tat descriptif,- &agrave; l'issue du
                          s&eacute;jour pour toutes les autres
                          contestations.Pour tous les litiges qui
                          na&icirc;traient de l&rsquo;ex&eacute;cution ou de
                          l&rsquo;interruption du pr&eacute;sent contrat, seuls
                          les Tribunaux du ressort du lieu de l&rsquo;immeuble
                          objet de la location sont
                          comp&eacute;tents.</span></p>

                          <p>&nbsp;</p>
                        deposit_explanation_text: >-
                          <p>Les informations bancaires permettent de garantir
                          votre réservation. Ces informations restent
                          confidentielles. <p><br></p><p><i>Credit card
                          information allows your booking confirmation. This
                          information remains confidential.</i></p></p>
                        ebooking_confirmation_text: >-
                          <p><strong>Merci pour votre
                          r&eacute;servation.</strong></p>

                          <p><span style="color: #777777; font-family:
                          sans-serif; font-size: 12.8px; background-color:
                          #ffffff;"><strong style="color: #000000; font-family:
                          -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
                          Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica
                          Neue', sans-serif; font-size: medium;">Celle-ci est
                          annulable et modifiable jusqu'&agrave; 48 heures avant
                          votre arriv&eacute;e. Au del&agrave;, 100% de votre
                          r&eacute;servation sera
                          conserv&eacute;.</strong></span></p>

                          <p><em><strong>Cordialement.</strong></em></p>

                          <p>Thank you for your enquiry.</p>

                          <p><em>Your reservation can be cancelled and modified
                          up to 2 days before your arrival. After this date,
                          100% of your reservation will be retained.</em></p>

                          <p><em>Thank you for your understanding.</em></p>

                          <p><em>Regards.</em></p>

                          <p>&nbsp;</p>

                          <p><span style="color: #777777; font-family:
                          sans-serif; font-size: 12.8px; background-color:
                          #ffffff;">%date_arrivee</span></p>

                          <p><span style="color: #777777; font-family:
                          sans-serif; font-size: 12.8px; background-color:
                          #ffffff;">%date_depart</span></p>

                          <p>&nbsp;</p>
                        ebooking_end_text: >-
                          <p><p style='text-align: left;'><b style='text-align:
                          left;'>Merci pour votre réservation. Nous traitons
                          votre demande le plus rapidement possible. Vous
                          recevrez un email de confirmation de votre
                          réservation.</b></p><p style='text-align:
                          left;'><i>Thanks for your reservation. We are
                          processing your request and we will confirm your
                          reservation by email as soon as possible.</i></p><p
                          style='text-align: left;'><i><br></i></p><p
                          style='text-align:
                          left;'><i><b>Cordialement.</b></i></p><p
                          style='text-align: left;'><i>Regards.</i></p></p>
                        gdpr_policy: ''
                    hotel:
                      rates:
                        - id: 1
                          label: Tarif du Jour
                          description: >-
                            <p>B&eacute;n&eacute;ficiez du meilleur prix en
                            direct.</p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr">A votre arriv&eacute;e, une pr&eacute;
                            autorisation d'un montant entre 100&euro; et
                            300&euro; peut vous &ecirc;tre demand&eacute; afin
                            d'acc&eacute;der &agrave; votre chambre. Il devra
                            &ecirc;tre pay&eacute; par carte de cr&eacute;dit.
                            Le d&eacute;p&ocirc;t de garantie vous sera
                            enti&egrave;rement rembours&eacute; sur votre carte
                            de cr&eacute;dit, si aucun dommage n'a
                            &eacute;t&eacute; constat&eacute; par
                            l'&eacute;tablissement.</span></p>

                            <p>&nbsp;</p>

                            <p><em><strong><span class="ui-provider gz b c d e f
                            g h i j k l m n o p q r s t u v w x y z ab ac ae af
                            ag ah ai aj ak" dir="ltr">Conditions d'annulation
                            :&nbsp;</span></strong></em></p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr"><strong>a)</strong> En cas
                            d'annulation ou de modification jusqu'&agrave; 48
                            heures avant la date d'arriv&eacute;e, aucun frais
                            ne sera pr&eacute;lev&eacute;.&nbsp;</span></p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">b)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr"> En cas d'annulation, de modification
                            tardive ou de non-pr&eacute;sentation, le
                            propri&eacute;taire exige 100% du montant du
                            s&eacute;jour.</span></p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">c)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr"> Tout s&eacute;jour commenc&eacute; est
                            d&ucirc;.</span></p>
                          rate_per_person: false
                          nb_persons_min: 1
                          nb_persons_max: 2
                          nb_adults_min: 1
                          nb_adults_max: 2
                          nb_days_for_lastminute: 0
                          nb_days_for_earlybooking: 0
                          nb_days_for_free_cancelation: null
                          deposit_rate_computed: 30
                          packages: []
                        - id: 2
                          label: Tarif Du Jour - Petit Déjeuner Compris
                          description: >-
                            <p>B&eacute;n&eacute;ficier du meilleur prix en
                            direct avec le petit d&eacute;jeuner.</p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr">A votre arriv&eacute;e, une pr&eacute;
                            autorisation d'un montant entre 100&euro; et
                            300&euro; peut vous &ecirc;tre demand&eacute; afin
                            d'acc&eacute;der &agrave; votre chambre. Il devra
                            &ecirc;tre pay&eacute; par carte de cr&eacute;dit.
                            Le d&eacute;p&ocirc;t de garantie vous sera
                            enti&egrave;rement rembours&eacute; sur votre carte
                            de cr&eacute;dit, si aucun dommage n'a
                            &eacute;t&eacute; constat&eacute; par
                            l'&eacute;tablissement.</span></p>

                            <p>&nbsp;</p>

                            <p><em><strong><span class="ui-provider gz b c d e f
                            g h i j k l m n o p q r s t u v w x y z ab ac ae af
                            ag ah ai aj ak" dir="ltr">Conditions d'annulation
                            :&nbsp;</span></strong></em></p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr"><strong>a)</strong> En cas
                            d'annulation ou de modification jusqu'&agrave; 48
                            heures avant la date d'arriv&eacute;e, aucun frais
                            ne sera pr&eacute;lev&eacute;.&nbsp;</span></p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">b)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr">&nbsp;En cas d'annulation, de modification
                            tardive ou de non-pr&eacute;sentation, le
                            propri&eacute;taire exige 100% du montant du
                            s&eacute;jour.</span></p>

                            <p>&nbsp;</p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">c)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr">&nbsp;Tout s&eacute;jour commenc&eacute;
                            est d&ucirc;.</span></p>
                          rate_per_person: false
                          nb_persons_min: 1
                          nb_persons_max: 2
                          nb_adults_min: 1
                          nb_adults_max: 2
                          nb_days_for_lastminute: 0
                          nb_days_for_earlybooking: 0
                          nb_days_for_free_cancelation: null
                          deposit_rate_computed: 30
                          packages:
                            - id: 31
                              article_id: 1
                              age_range_id: 0
                              quantity: 1
                              per_day: true
                              first_day: false
                              last_day: true
                              per_person: true
                        - id: 64
                          label: Tarif du Jour Location
                          description: >-
                            <p><span style="font-family: 'Open Sans', 'Helvetica
                            Neue', Helvetica, Arial, sans-serif; font-size:
                            14px; font-weight: 600; background-color:
                            #f4f6f7;">BARSIT-LOC</span></p>

                            <p>&nbsp;</p>

                            <p><em><strong><span class="ui-provider gz b c d e f
                            g h i j k l m n o p q r s t u v w x y z ab ac ae af
                            ag ah ai aj ak" dir="ltr">Conditions d'annulation
                            :&nbsp;</span></strong></em></p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr"><strong>a)</strong>&nbsp;En cas
                            d'annulation ou de modification jusqu'&agrave; 48
                            heures avant la date d'arriv&eacute;e, aucun frais
                            ne sera pr&eacute;lev&eacute;.&nbsp;</span></p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">b)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr">&nbsp;En cas d'annulation, de modification
                            tardive ou de non-pr&eacute;sentation, le
                            propri&eacute;taire exige 100% du montant du
                            s&eacute;jour.</span></p>

                            <p>&nbsp;</p>

                            <p>&nbsp;</p>

                            <p><strong><span class="ui-provider gz b c d e f g h
                            i j k l m n o p q r s t u v w x y z ab ac ae af ag
                            ah ai aj ak" dir="ltr">c)</span></strong><span
                            class="ui-provider gz b c d e f g h i j k l m n o p
                            q r s t u v w x y z ab ac ae af ag ah ai aj ak"
                            dir="ltr"> Tout s&eacute;jour commenc&eacute; est
                            d&ucirc;.</span></p>
                          rate_per_person: false
                          nb_persons_min: 1
                          nb_persons_max: 2
                          nb_adults_min: 1
                          nb_adults_max: 2
                          nb_days_for_lastminute: 0
                          nb_days_for_earlybooking: 0
                          nb_days_for_free_cancelation: null
                          deposit_rate_computed: 100
                          packages: []
                        - id: 3
                          label: Tarif Early Booking
                          description: >-
                            <p><strong>R&eacute;servez maintenant et Faites des
                            &eacute;conomies aujourd&rsquo;hui !</strong></p>

                            <p>Si vos dates de voyage sont fix&eacute;es et que
                            vous &ecirc;tes dispos&eacute; &agrave;
                            r&eacute;gler &agrave; l'avance sans
                            possibilit&eacute; de remboursement, profitez de
                            notre tarif r&eacute;duit et <strong>Economisez
                            jusqu&rsquo;&agrave; 10 Euros sur le Meilleur Tarif
                            Disponible</strong>.</p>

                            <p>Faites une pause et gr&acirc;ce &agrave; cette
                            offre, r&eacute;duisez les frais sur votre prochain
                            s&eacute;jour.&lt;/p&gt;&lt;p&gt;&lt;b&gt;</p>

                            <p><strong>Conditions de R&eacute;servation
                            </strong>:Ce Tarif Super Economique est une offre
                            limit&eacute;e. Ce tarif doit &ecirc;tre
                            r&eacute;serv&eacute; <strong>minimum 21 jours avant
                            la date d&rsquo;arriv&eacute;e</strong>. Cette Offre
                            est limit&eacute;e, soumise &agrave;
                            disponibilit&eacute; et li&eacute;e &agrave; une
                            r&eacute;servation pr&eacute;coce.</p>

                            <p><strong>Les r&eacute;servations &agrave; ce tarif
                            sont d&eacute;finitives</strong>. Elles font l'objet
                            d'un r&egrave;glement de <strong>la totalit&eacute;
                            du s&eacute;jour</strong> au moment de la
                            r&eacute;servation. <strong>R&eacute;servation non
                            modifiable. Aucun&nbsp; remboursement</strong> en
                            cas d&rsquo;annulation ou de changement. Une fois la
                            r&eacute;servation effectu&eacute;e, le montant du
                            s&eacute;jour est d&eacute;finitivement
                            pr&eacute;lev&eacute; sur votre carte de
                            cr&eacute;dit que le s&eacute;jour soit
                            consomm&eacute; ou non.</p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr">A votre arriv&eacute;e, une pr&eacute;
                            autorisation d'un montant entre 100&euro; et
                            300&euro; peut vous &ecirc;tre demand&eacute; afin
                            d'acc&eacute;der &agrave; votre chambre. Il devra
                            &ecirc;tre pay&eacute; par carte de cr&eacute;dit.
                            Le d&eacute;p&ocirc;t de garantie vous sera
                            enti&egrave;rement rembours&eacute; sur votre carte
                            de cr&eacute;dit, si aucun dommage n'a
                            &eacute;t&eacute; constat&eacute; par
                            l'&eacute;tablissement.</span></p>
                          rate_per_person: false
                          nb_persons_min: 1
                          nb_persons_max: 2
                          nb_adults_min: 1
                          nb_adults_max: 2
                          nb_days_for_lastminute: 0
                          nb_days_for_earlybooking: 21
                          nb_days_for_free_cancelation: null
                          deposit_rate_computed: 100
                          packages: []
                        - id: 4
                          label: Tarif Dernière Minute
                          description: >-
                            <p><strong>Le Tarif de Derni&egrave;re Minute est
                            ouvert &agrave; la vente 7 jours seulement avant
                            l'arriv&eacute;e et pour un s&eacute;jour maximum de
                            7 nuits.</strong>&nbsp; Une seule contrainte,
                            <strong>pr&eacute;payer&nbsp; la totalit&eacute; du
                            s&eacute;jour</strong>&nbsp; au moment de la
                            r&eacute;servation. Cet acompte est <strong>non
                            remboursable </strong>et ne peut &ecirc;tre
                            report&eacute; &agrave; une autre date.</p>

                            <p>&nbsp;</p>

                            <p><span class="ui-provider gz b c d e f g h i j k l
                            m n o p q r s t u v w x y z ab ac ae af ag ah ai aj
                            ak" dir="ltr">A votre arriv&eacute;e, une pr&eacute;
                            autorisation d'un montant entre 100&euro; et
                            300&euro; peut vous &ecirc;tre demand&eacute; afin
                            d'acc&eacute;der &agrave; votre chambre. Il devra
                            &ecirc;tre pay&eacute; par carte de cr&eacute;dit.
                            Le d&eacute;p&ocirc;t de garantie vous sera
                            enti&egrave;rement rembours&eacute; sur votre carte
                            de cr&eacute;dit, si aucun dommage n'a
                            &eacute;t&eacute; constat&eacute; par
                            l'&eacute;tablissement.</span></p>
                          rate_per_person: false
                          nb_persons_min: 1
                          nb_persons_max: 2
                          nb_adults_min: 1
                          nb_adults_max: 2
                          nb_days_for_lastminute: 2
                          nb_days_for_earlybooking: 7
                          nb_days_for_free_cancelation: null
                          deposit_rate_computed: 100
                          packages: []
                      room_types:
                        - id: 19
                          label: Chambre Deluxe Terrasse
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 160 ou 180 cm ou 2x80/2x90 cm sur demande
                            &agrave; la r&eacute;servation.&nbsp;</p>

                            <p>Douche &agrave; l'italienne.</p>

                            <p>Chambre en rez-de-jardin accessible aux personnes
                            &agrave; mobilit&eacute; r&eacute;duite (sur demande
                            &agrave; la r&eacute;servation).</p>

                            <p>Terrasse.</p>

                            <p>&nbsp;</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>Climatisation, WIFI gratuit,
                            t&eacute;l&eacute;vision &eacute;cran plat avec 90
                            cha&icirc;nes et Chromecast pour diffusion des
                            contenus de vos smartphone et ordinateur, plateau de
                            courtoisie avec bouilloire et machine &agrave;
                            caf&eacute; Nespresso, bureau,
                            s&egrave;che-cheveux.&nbsp;</p>

                            <p>Surface : 20 m2</p>
                          pictures:
                            - /public/images/IMG_9683.jpg
                            - /public/images/IMG_9670.jpg
                            - /public/images/IMG_9678.jpg
                            - /public/images/IMG_9665.jpg
                            - /public/images/IMG_9669.jpg
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9670.jpg
                            - /public/images/IMG_9669.jpg
                            - /public/images/IMG_9672.jpg
                            - /public/images/IMG_9678.jpg
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9659.jpg
                            - /public/images/IMG_9670.jpg
                        - id: 22
                          label: Chambre Deluxe Terrasse Basse Saison
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: ''
                          pictures:
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9670.jpg
                            - /public/images/IMG_9659.jpg
                            - /public/images/IMG_9678.jpg
                            - /public/images/IMG_9665.jpg
                            - /public/images/IMG_9669.jpg
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9670.jpg
                            - /public/images/IMG_9659.jpg
                            - /public/images/IMG_9670.jpg
                            - /public/images/IMG_9659.jpg
                            - /public/images/IMG_9669.jpg
                            - /public/images/IMG_9676.jpg
                            - /public/images/IMG_9665.jpg
                        - id: 25
                          label: Chambre Twin - Deluxe avec vue cour
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: ''
                          pictures:
                            - /public/images/17801.jpg
                            - /public/images/17820.jpg
                            - /public/images/17930.jpg
                            - /public/images/IMG_0250.jpg
                        - id: 4
                          label: Petite chambre vue cour
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 140 cm.</p>

                            <p>Douche</p>

                            <p>&nbsp;</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>Surface : 12 &agrave; 13 m&sup2;</p>
                          pictures:
                            - /public/images/IMG_0251.jpg
                            - /public/images/1675201191_17844.jpg
                            - /public/images/17782.jpg
                            - /public/images/IMG_0251.jpg
                            - /public/images/17930.jpg
                            - /public/images/1675201191_17844.jpg
                            - /public/images/IMG_0251.jpg
                            - /public/images/17782.jpg
                            - /public/images/17930.jpg
                        - id: 7
                          label: Chambre deluxe vue cour
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 180 cm ou 2x90 cm sur demande &agrave; la
                            r&eacute;servation.&nbsp;</p>

                            <p>Douche</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>Surface : 16 &agrave; 18 m&sup2;</p>
                          pictures:
                            - /public/images/IMG_0256.jpg
                            - /public/images/IMG_0250.jpg
                        - id: 10
                          label: Petite chambre vue mer
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 140 cm.</p>

                            <p>Douche</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>Surface : 12 &agrave; 13 m&sup2;</p>
                          pictures:
                            - /public/images/IMG_0258.jpg
                            - /public/images/1675201191_17844.jpg
                            - /public/images/17930.jpg
                        - id: 1
                          label: Chambre standard vue mer
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 160 cm&nbsp;</p>

                            <p>Douche</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.&nbsp;</p>

                            <p>Surface : 13 &agrave; 14 m&sup2;</p>
                          pictures:
                            - /public/images/IMG_0267.jpg
                            - /public/images/IMG_0006.jpg
                            - /public/images/IMG_6084.jpg
                            - /public/images/17930.jpg
                            - /public/images/IMG_0267.jpg
                            - /public/images/IMG_0267.jpg
                        - id: 2
                          label: Chambre standard vue cour
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 160 cm&nbsp;</p>

                            <p>Douche</p>

                            <p>Equipement :&nbsp;&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.&nbsp;</p>

                            <p>Surface : 13 &agrave; 14 m&sup2;</p>
                          pictures:
                            - /public/images/17794.jpg
                            - /public/images/17844.jpg
                            - /public/images/17782.jpg
                            - /public/images/17794.jpg
                            - /public/images/17782.jpg
                            - /public/images/17844.jpg
                            - /public/images/17788.jpg
                        - id: 3
                          label: Chambre supérieure vue mer
                          nb_persons_min: 1
                          nb_persons_max: 2
                          description: >-
                            <p>Lit de 180 cm ou 2x90 cm sur demande &agrave; la
                            r&eacute;servation.</p>

                            <p>Douche ou bain</p>

                            <p>&nbsp;</p>

                            <p>Equipement :&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>WIFI gratuit, t&eacute;l&eacute;vision
                            &eacute;cran plat avec 90 cha&icirc;nes et
                            Chromecast pour diffusion des contenus de vos
                            smartphone et ordinateur, plateau de courtoisie avec
                            bouilloire, bureau, s&egrave;che-cheveux.</p>

                            <p>Surface : 16 m&sup2;</p>
                          pictures:
                            - /public/images/17856Gratuite.jpg
                            - /public/images/17866.jpg
                            - /public/images/17820.jpg
                            - /public/images/17788.jpg
                            - /public/images/17856Gratuite.jpg
                            - /public/images/17866.jpg
                            - /public/images/17820.jpg
                      age_ranges:
                        - id: 3
                          age: 18
                          deleted: false
                          is_infants: false
                          is_children: false
                          is_adults: true
                          mapping_key: adults
                        - id: 2
                          age: 3
                          deleted: false
                          is_infants: false
                          is_children: true
                          is_adults: false
                          mapping_key: children
                        - id: 1
                          age: 0
                          deleted: false
                          is_infants: true
                          is_children: false
                          is_adults: false
                          mapping_key: infants
                      tourist_tax:
                        computed_amount: 111
  /hub/api/partner/hotel/age-ranges:
    get:
      tags:
        - Clients
      summary: Liste des tranches d'âge
      description: >-
        Récupération des tranches d'âges. Les tranches d'âges permettent de
        gérer les taxe de séjour et d'avoir des statistiques sur la clientèle de
        l'établissement
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des tranches d'âge:
                  value:
                    - id: 15
                      age: 0
                      deleted: false
                      is_infants: true
                      is_children: true
                      is_adults: false
                    - id: 1
                      age: 18
                      deleted: false
                      is_infants: false
                      is_children: false
                      is_adults: true
                    - id: 3
                      age: 18
                      deleted: true
                      is_infants: false
                      is_children: false
                      is_adults: false
  /hub/api/partner/resort/customer-categories:
    get:
      tags:
        - Clients
      summary: Liste des catégories clients
      description: >-
        Récupération des catégories client. Ces catégories sont utilisées pour
        segmenter la base client afin d'en tirer des statistiques claires,
        précises et utilisables.

        Exemples:

        - VIP

        - Affaire

        - Tourisme
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des catégories clients:
                  value:
                    - id: 1
                      label: Divers
                      rank: 0
                    - id: 3
                      label: Sportif
                      rank: 0
                    - id: 6
                      label: Professionel
                      rank: 0
                    - id: 9
                      label: Déjà venu
                      rank: 0
  /hub/api/partner/resort/customer-groups:
    get:
      tags:
        - Clients
      summary: Liste des groupes clients
      description: >-
        Récupération des groupes client. Ces groupes sont utilisés pour
        segmenter la base client afin d'en tirer des statistiques claires,
        précises et utilisables.

        Exemples:

        - VIP

        - Sportifs

        - Familles
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des groupes clients:
                  value:
                    - id: 1
                      label: Sportifs
                      rank: 9
  /hub/api/partner/resort/customer-origins:
    get:
      tags:
        - Clients
      summary: Liste des provenances clients
      description: >-
        Récupération des provenances clients. Ces provenances sont utilisées
        pour segmenter la base client afin d'en tirer des statistiques claires,
        précises et utilisables.

        Ex: 

        - Site internet

        - Campagne emailing

        - Office du tourisme
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des provenances clients:
                  value:
                    - id: 1
                      label: Autres
                      color: '#853939'
                      rank: 0
                    - id: 2
                      label: Booking.com
                      color: '#647B75'
                      rank: 0
                    - id: 3
                      label: Téléphone
                      color: '#1DA67D'
                      rank: 0
  /hub/api/partner/resort/civilities:
    get:
      tags:
        - Clients
      summary: Liste des civilités clients
      description: Récupération des civilités possible d'un client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des civilités clients:
                  value:
                    - id: 1
                      label: M.
                      rank: 1
                    - id: 2
                      label: Mme.
                      rank: 2
                    - id: 3
                      label: Melle.
                      rank: 3
                    - id: 4
                      label: Sté
                      rank: 4
  /hub/api/partner/resort/languages:
    get:
      tags:
        - Clients
      summary: Liste des langages
      description: >-
        Récupération des tranches d'âges. Les tranches d'âges permettent de
        gérer les taxe de séjour et d'avoir des statistiques sur la clientèle de
        l'établissement
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des langages:
                  value:
                    - id: 1
                      code: fr
                      label: Français
                    - id: 2
                      code: en
                      label: English
                    - id: 3
                      code: de
                      label: Deutsch
                    - id: 4
                      code: es
                      label: Español
                    - id: 5
                      code: it
                      label: Italiano
                    - id: 6
                      code: ro
                      label: Român
                    - id: 7
                      code: nl
                      label: Nederlands
  /hub/api/partner/resort/customers:
    get:
      tags:
        - Clients
      summary: Recherche de clients
      description: |
        Cette route permet de rechercher des clients dans le CARDEX.
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: >-
            Chaine recherchée dansla base client. La recherche s'effectue sur
            tous les champs texte présents dans la fiche client.
          example: test
        - name: ids
          in: query
          schema:
            type: string
          example: '[1569, 24]'
        - name: updated_since
          in: query
          schema:
            type: string
          example: '2021-09-15 12:30'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Recherche de clients contenant "test":
                  value:
                    - id: 1569
                      civility_id: 1
                      lastname: test
                      firstname: testt
                      company: ''
                      characteristics: ''
                      email: dev@thais-soft.com
                      phone: ''
                      cellphone: ''
                      postcode: ''
                      city: ''
                      country_id: 79
                      address: ''
                      address2: ''
                      warning: false
                      unwanted: false
                      travel_card: ''
                      birthdate: null
                      customer_group_id: 1
                      customer_category_id: 1
                      nationality_id: 79
                      language_id: 1
                      customer_origin_id: 1
                      customer_company_id: null
                      satisfaction_rating: 3
                      contact_channel: Email
                      deleted: false
                      auto_email: true
                      gdpr_accepted_at: null
                      signature: null
                      vat_number: ''
                      civility:
                        id: 1
                        label: M.
                        rank: 1
                      country:
                        id: 79
                        label: FRANCE
                        iso2: FR
                        iso3: FRA
                        num_insee: '40'
                        default_language_id: 1
                        default_language: null
                      customer_group:
                        id: 1
                        label: Sportifs
                        rank: 9
                      customer_category:
                        id: 1
                        label: Divers
                        rank: 0
                      nationality:
                        id: 79
                        label: FRANCE
                        iso2: FR
                        iso3: FRA
                        num_insee: '40'
                        default_language_id: 1
                        default_language: null
                      language:
                        id: 1
                        code: fr
                        label: Français
                      customer_origin:
                        id: 1
                        label: Autres
                        color: '#853939'
                        rank: 0
                      customer_company: null
    post:
      tags:
        - Clients
      summary: Ajout d'un client
      description: >-
        Cette route permet d'ajouter un client dans le CARDEX.


        - civility_id : integer from /hub/api/partner/resort/civilities

        - lastname * : required, string(max 80)

        - firstname : string(max 50)

        - company : string(max 50)

        - characteristics : string(max 65535)

        - email : string(max 255)

        - phone : string(max 20)

        - cellphone : string(max 20)

        - postcode : string(max 9)

        - city : string(max 50)

        - country_id : string(code ISO2) or integer (si null, fallback sur
        nationality_id, puis la valeur par défaut de  

        l'hotel)

        - address : string(max 80)

        - address2 : string(max 80)

        - warning : boolean

        - unwanted : boolean

        - travel_card : string(max 20)

        - birthdate : date (format YYYY-MM-DD)

        - customer_group_id : integer from
        /hub/api/partner/resort/customer-groups

        - customer_category_id : integer from
        /hub/api/partner/resort/customer-categories

        - nationality_id : string(code ISO2) or integer (si null, fallback sur
        country_id, puis la valeur par défaut de  

        l'hotel)

        - language_id : integer (si null, fallback sur le langage de la
        country_id ou nationality_id, puis la valeur par défaut de  

        l'hotel)

        - customer_origin_id : integer from
        /hub/api/partner/resort/customer-origins

        - customer_company_id : integer from /hub/api/partner/resort/customers

        - satisfaction_rating : integer (min 0, max 5)

        - contact_channel : string(max 10)

        - auto_email : boolean

        - gdpr_accepted_at : date (format YYYY-MM-DD)

        - vat_number : string(max 255)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                civility_id: 1
                lastname: Doe
                firstname: John
                company: null
                characteristics: null
                email: john.doe@thais-pms.com
                phone: null
                cellphone: '+33612345678'
                postcode: '34000'
                city: Montpellier
                country_id: FR
                address: 1 avenue des Hotels
                address2: ''
                warning: false
                unwanted: false
                travel_card: null
                birthdate: '1967-05-26'
                customer_group_id: null
                customer_category_id: null
                nationality_id: GB
                language_id: null
                customer_origin_id: null
                customer_company_id: null
                satisfaction_rating: 5
                contact_channel: email
                auto_email: true
                gdpr_accepted_at: null
                vat_number: null
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Ajout d'un client:
                  value:
                    id: 635
                    civility_id: 1
                    lastname: Doe
                    firstname: John
                    company: null
                    characteristics: null
                    email: john.doe@thais-pms.com
                    phone: ''
                    cellphone: '+33612345678'
                    postcode: '34000'
                    city: Montpellier
                    country_id: 79
                    address: 1 avenue des Hotels
                    address2: ''
                    warning: true
                    unwanted: false
                    travel_card: null
                    birthdate: '1967-05-26'
                    customer_group_id: 3
                    customer_category_id: 4
                    nationality_id: 189
                    language_id: 1
                    customer_origin_id: 3
                    customer_company_id: null
                    satisfaction_rating: 5
                    contact_channel: email
                    deleted: false
                    updated_at: '2022-01-07T14:45:25+01:00'
                    auto_email: true
                    gdpr_accepted_at: null
                    signature: null
                    vat_number: null
                    civility:
                      id: 1
                      label: M.
                      rank: 0
                    country:
                      id: 79
                      label: FRANCE
                      iso2: FR
                      iso3: FRA
                      num_insee: '40'
                      default_language_id: 1
                      default_language: null
                    customer_group:
                      id: 3
                      label: Arsenal
                      rank: -1
                    customer_category:
                      id: 4
                      label: Membre
                      rank: 0
                    nationality:
                      id: 189
                      label: ROYAUME-UNI
                      iso2: GB
                      iso3: GBR
                      num_insee: '40'
                      default_language_id: 2
                      default_language: null
                    language:
                      id: 1
                      code: fr
                      label: Français
                    customer_origin:
                      id: 3
                      label: Téléphone
                      color: '#FFD48B'
                      rank: 0
                    customer_company: null
  '/hub/api/partner/resort/customers/{id}':
    get:
      tags:
        - Clients
      summary: Récupération d'un client
      description: >-
        Lecture de l'ensemble des données d'un client présent dans le CARDEX
        grâce à son ID.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /hub/api/partner/resort/customers/merge:
    post:
      tags:
        - Clients
      summary: Fusion de clients
      description: >-
        Cette route permet de fusionner des clients dans le CARDEX.


        A l'issue de cette fusion, seul le premier client du tableau restera et
        l'ensemble des autres fiches seront supprimées.


        Les réservations, factures, tickets et notifications seront transférés
        sur ce client.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                - 3
                - 89
                - 67
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Fusion clients:
                  value:
                    id: 3
                    civility_id: 3
                    lastname: FICHTL
                    firstname: KATHARINA
                    company: ''
                    characteristics: HW
                    email: dev@thais-soft.com
                    phone: ''
                    cellphone: ''
                    postcode: ALLEMAGNE
                    city: ''
                    country_id: 6
                    address: ''
                    address2: ''
                    warning: false
                    unwanted: false
                    travel_card: LF372RVHR
                    birthdate: '0000-00-00'
                    customer_group_id: 1
                    customer_category_id: 1
                    nationality_id: 6
                    language_id: 3
                    customer_origin_id: 4
                    customer_company_id: null
                    satisfaction_rating: 3
                    contact_channel: Email
                    deleted: false
                    updated_at: '2006-01-01T00:00:00+01:00'
                    auto_email: true
                    gdpr_accepted_at: null
                    signature: null
                    vat_number: ''
                    vat_number_no_eu: null
                    siren: null
                    siret: null
                    civility:
                      id: 3
                      label: Melle.
                      rank: 3
                      deleted: false
                    country:
                      id: 6
                      label: ALLEMAGNE
                      iso2: DE
                      iso3: DEU
                      num_insee: '40'
                      default_language_id: 3
                      default_language: null
                    customer_group:
                      id: 1
                      label: Autres
                      rank: 9
                      deleted: false
                    customer_category:
                      id: 1
                      label: Autres
                      rank: 0
                      deleted: false
                    nationality:
                      id: 6
                      label: ALLEMAGNE
                      iso2: DE
                      iso3: DEU
                      num_insee: '40'
                      default_language_id: 3
                      default_language: null
                    language:
                      id: 3
                      code: de
                      label: Deutsch
                    customer_origin:
                      id: 4
                      label: HW
                      color: '#5b8a88'
                      rank: 12
                      deleted: false
                    customer_company: null
  /hub/api/partner/resort/customers/15:
    patch:
      tags:
        - Clients
      summary: Modification d'un client
      description: >-
        Modification d'un client dans le CARDEX.


        Les champs modifiables sont :


        - nom

        - prénom

        - company

        - characteristics

        - email

        - phone

        - cellphone

        - postcode

        - city

        - address

        - address2

        - warning

        - travel_card

        - birthdate

        - language_id

        - satisfaction_rating

        - contact_channel

        - auto_email

        - gdpr_accepted_at

        - signature

        - vat_number  
            
        - nationality_code

        - language_code

        - country_code
            

        ( nationality, language et country peuvent etre update a l'aide d'un
        code de 2 lettres )


        Il s'agit d'une requête HTTP PATCH, seuls les champs du body seront
        modifiés.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                lastname: PIERRE
                firstname: Jaques
                company: xxxx
                characteristics: commentaire client
                email: azerty@thais-pms.com
                phone: '+331234545'
                cellphone: '+336234545'
                postcode: '34000'
                city: Montpellier
                address: Rue st Jaques
                address2: 8eme étages
                warning: false
                travel_card: '1234567890'
                birthdate: '2008-06-26'
                satisfaction_rating: 5
                contact_channel: email
                auto_email: true
                gdpr_accepted_at: '2021-06-26 00:00:00'
                signature: signature
                vat_number: 55555 555 55555
                nationality_code: EE
                language_code: de
                country_code: HU
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Modification d'un client:
                  value:
                    id: 15
                    civility_id: 1
                    lastname: XAVIER
                    firstname: ''
                    company: ''
                    characteristics: commentaire client
                    email: azerty@thais-pms.com
                    phone: '+331234545'
                    cellphone: '+336234545'
                    postcode: ''
                    city: ''
                    country_id: 79
                    address: ''
                    address2: ''
                    warning: false
                    unwanted: false
                    travel_card: '1234567890'
                    birthdate: '1980-06-26'
                    customer_group_id: 1
                    customer_category_id: 1
                    nationality_id: 79
                    language_id: 1
                    customer_origin_id: 1
                    customer_company_id: null
                    satisfaction_rating: 5
                    contact_channel: email
                    deleted: false
                    updated_at: '2021-09-15T14:31:40+02:00'
                    auto_email: true
                    gdpr_accepted_at: '2021-06-26 00:00:00'
                    signature: null
                    vat_number: ''
                    civility:
                      id: 1
                      label: M.
                      rank: 1
                    country:
                      id: 79
                      label: FRANCE
                      iso2: FR
                      iso3: FRA
                      num_insee: '40'
                      default_language_id: 1
                      default_language: null
                    customer_group:
                      id: 1
                      label: Autres
                      rank: 9
                    customer_category:
                      id: 1
                      label: Individuel
                      rank: 0
                    nationality:
                      id: 79
                      label: FRANCE
                      iso2: FR
                      iso3: FRA
                      num_insee: '40'
                      default_language_id: 1
                      default_language: null
                    language:
                      id: 1
                      code: fr
                      label: Français
                    customer_origin:
                      id: 1
                      label: Internet
                      color: '#A5C7FA'
                      rank: 0
                    customer_company: null
  /hub/api/partner/hotel/room-types:
    get:
      tags:
        - Hotel
      summary: Liste des types de chambre
      description: Récupération de différents types de chambres configuré dans l'hôtel.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des types de chambre:
                  value:
                    - id: 1
                      label: Chalet
                      subject_to_pricing: true
                      nb_persons_min: 2
                      nb_persons_max: 2
                      public: true
                      color: '#f745f7'
                      description: >-
                        <p>Le chalet est équipé :<br>- Literie King Size<br>-
                        Salle de bain &amp; toilette séparées<br>- Fauteuils
                        Scandinaves design Grand confort<br>- Climatisation<br>-
                        Produit cosmétique Bio et certifié Ecocert<br>- Draps et
                        serviettes fournis<br>- Television LCD<br></p>
                      rank: 0
                      deleted: false
                      ex_rc_room_id: ''
                      ex_pm_room_id: ''
                      ex_sm_room_id: ''
                      ex_wb_room_id: 0
                      ex_ap_room_id: '110911'
                      ex_vb_room_id: ''
                      ical_url: null
                    - id: 6
                      label: Fictive
                      subject_to_pricing: false
                      nb_persons_min: 1
                      nb_persons_max: 99
                      public: false
                      color: ''
                      description: '0'
                      rank: 1
                      deleted: false
                      ex_rc_room_id: ''
                      ex_pm_room_id: ''
                      ex_sm_room_id: ''
                      ex_wb_room_id: 0
                      ex_ap_room_id: ''
                      ex_vb_room_id: ''
                      ical_url: null
  /hub/api/partner/hotel/rooms:
    get:
      tags:
        - Hotel
      summary: Liste des chambres
      description: Récupération de l'ensemble des chambres configurées dans l'hôtel.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des chambres:
                  value:
                    - id: 1
                      label: 1 - Delicatesse
                      nb_persons_max: 2
                      room_type_id: 1
                      rank: 0
                      stage: ''
                      visible: true
                      show_in_stats: true
                      real: true
                      picture_url: >-
                        /public/images/19-06-07HameaudesSens©BartoschSalmanski-128db.fr0609-HDR.jpg
                      pictures: []
                      created_at: '2020-10-15'
                      deleted: false
                      deleted_at: null
                      icons:
                        - bed
                      room_type:
                        id: 1
                        label: Chalet
                        subject_to_pricing: true
                        nb_persons_min: 2
                        nb_persons_max: 2
                        public: true
                        color: '#f745f7'
                        description: >-
                          <p>Le chalet est équipé :<br>- Literie King Size<br>-
                          Salle de bain &amp; toilette séparées<br>- Fauteuils
                          Scandinaves design Grand confort<br>-
                          Climatisation<br>- Produit cosmétique Bio et certifié
                          Ecocert<br>- Draps et serviettes fournis<br>-
                          Television LCD<br></p>
                        rank: 0
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: '110911'
                        ex_vb_room_id: ''
                        ical_url: null
                    - id: 2
                      label: 2 - Sérénité
                      nb_persons_max: 2
                      room_type_id: 1
                      rank: 1
                      stage: ''
                      visible: true
                      show_in_stats: true
                      real: true
                      picture_url: >-
                        /public/images/19-06-07HameaudesSens©BartoschSalmanski-128db.fr0049.jpg
                      pictures: []
                      created_at: '2020-10-15'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type:
                        id: 1
                        label: Chalet
                        subject_to_pricing: true
                        nb_persons_min: 2
                        nb_persons_max: 2
                        public: true
                        color: '#f745f7'
                        description: >-
                          <p>Le chalet est équipé :<br>- Literie King Size<br>-
                          Salle de bain &amp; toilette séparées<br>- Fauteuils
                          Scandinaves design Grand confort<br>-
                          Climatisation<br>- Produit cosmétique Bio et certifié
                          Ecocert<br>- Draps et serviettes fournis<br>-
                          Television LCD<br></p>
                        rank: 0
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: '110911'
                        ex_vb_room_id: ''
                        ical_url: null
                    - id: 3
                      label: 3 - Harmonie
                      nb_persons_max: 2
                      room_type_id: 1
                      rank: 2
                      stage: ''
                      visible: true
                      show_in_stats: true
                      real: true
                      picture_url: >-
                        /public/images/19-06-07HameaudesSens©BartoschSalmanski-128db.fr0352.jpg
                      pictures: []
                      created_at: '2020-10-15'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type:
                        id: 1
                        label: Chalet
                        subject_to_pricing: true
                        nb_persons_min: 2
                        nb_persons_max: 2
                        public: true
                        color: '#f745f7'
                        description: >-
                          <p>Le chalet est équipé :<br>- Literie King Size<br>-
                          Salle de bain &amp; toilette séparées<br>- Fauteuils
                          Scandinaves design Grand confort<br>-
                          Climatisation<br>- Produit cosmétique Bio et certifié
                          Ecocert<br>- Draps et serviettes fournis<br>-
                          Television LCD<br></p>
                        rank: 0
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: '110911'
                        ex_vb_room_id: ''
                        ical_url: null
                    - id: 4
                      label: 4 - Générosité
                      nb_persons_max: 2
                      room_type_id: 1
                      rank: 3
                      stage: ''
                      visible: true
                      show_in_stats: true
                      real: true
                      picture_url: >-
                        /public/images/19-05-16HameaudesSens©BartoschSalmanski-128db.fr0094.jpg
                      pictures: []
                      created_at: '2020-10-15'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type:
                        id: 1
                        label: Chalet
                        subject_to_pricing: true
                        nb_persons_min: 2
                        nb_persons_max: 2
                        public: true
                        color: '#f745f7'
                        description: >-
                          <p>Le chalet est équipé :<br>- Literie King Size<br>-
                          Salle de bain &amp; toilette séparées<br>- Fauteuils
                          Scandinaves design Grand confort<br>-
                          Climatisation<br>- Produit cosmétique Bio et certifié
                          Ecocert<br>- Draps et serviettes fournis<br>-
                          Television LCD<br></p>
                        rank: 0
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: '110911'
                        ex_vb_room_id: ''
                        ical_url: null
                    - id: 5
                      label: 5 - Félicité
                      nb_persons_max: 2
                      room_type_id: 1
                      rank: 4
                      stage: ''
                      visible: true
                      show_in_stats: true
                      real: true
                      picture_url: >-
                        /public/images/19-05-16HameaudesSens©BartoschSalmanski-128db.fr0038.jpg
                      pictures: []
                      created_at: '2020-10-15'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type:
                        id: 1
                        label: Chalet
                        subject_to_pricing: true
                        nb_persons_min: 2
                        nb_persons_max: 2
                        public: true
                        color: '#f745f7'
                        description: >-
                          <p>Le chalet est équipé :<br>- Literie King Size<br>-
                          Salle de bain &amp; toilette séparées<br>- Fauteuils
                          Scandinaves design Grand confort<br>-
                          Climatisation<br>- Produit cosmétique Bio et certifié
                          Ecocert<br>- Draps et serviettes fournis<br>-
                          Television LCD<br></p>
                        rank: 0
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: '110911'
                        ex_vb_room_id: ''
                        ical_url: null
                    - id: 9
                      label: saut de ligne
                      nb_persons_max: 1
                      room_type_id: 0
                      rank: 5
                      stage: ''
                      visible: true
                      show_in_stats: false
                      real: false
                      picture_url: ''
                      pictures: []
                      created_at: '2020-10-21'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type: null
                    - id: 6
                      label: Facturation sans hébergement
                      nb_persons_max: 99
                      room_type_id: 6
                      rank: 6
                      stage: '0'
                      visible: true
                      show_in_stats: false
                      real: true
                      picture_url: ''
                      pictures: []
                      created_at: '2020-10-21'
                      deleted: false
                      deleted_at: null
                      icons: []
                      room_type:
                        id: 6
                        label: Fictive
                        subject_to_pricing: false
                        nb_persons_min: 1
                        nb_persons_max: 99
                        public: false
                        color: ''
                        description: '0'
                        rank: 1
                        deleted: false
                        ex_rc_room_id: ''
                        ex_pm_room_id: ''
                        ex_sm_room_id: ''
                        ex_wb_room_id: 0
                        ex_ap_room_id: ''
                        ex_vb_room_id: ''
                        ical_url: null
  /hub/api/partner/hotel/apr/availabilities/currents:
    get:
      tags:
        - Hotel
      summary: Liste des disponibilités
      description: |-
        Lecture des disponibilités par type de chambre entre 2 dates.

        Le paramètre room_type_id[] est facultatif.
      parameters:
        - name: from
          in: query
          schema:
            type: string
          example: '2021-03-15'
        - name: to
          in: query
          schema:
            type: string
          example: '2021-03-25'
        - name: 'room_type_id[]'
          in: query
          schema:
            type: integer
          example: '1'
        - name: 'room_type_id[]'
          in: query
          schema:
            type: integer
          example: '2'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              examples:
                Liste des disponibilités:
                  value:
                    - id: 1542
                      created_at: '2020-10-21T10:49:03+02:00'
                      date: '2021-03-15'
                      room_type_id: 1
                      availability: 5
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 453
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-15'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 1545
                      created_at: '2020-10-21T10:49:03+02:00'
                      date: '2021-03-16'
                      room_type_id: 1
                      availability: 5
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 456
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-16'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 2775
                      created_at: '2020-11-25T09:34:02+01:00'
                      date: '2021-03-17'
                      room_type_id: 1
                      availability: 4
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 459
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-17'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 4323
                      created_at: '2021-02-05T18:55:02+01:00'
                      date: '2021-03-18'
                      room_type_id: 1
                      availability: 4
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 462
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-18'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 4200
                      created_at: '2021-02-03T11:41:02+01:00'
                      date: '2021-03-19'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 465
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-19'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 3615
                      created_at: '2021-01-06T10:07:37+01:00'
                      date: '2021-03-20'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 468
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-20'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 4419
                      created_at: '2021-02-09T09:13:03+01:00'
                      date: '2021-03-21'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 471
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-21'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 4359
                      created_at: '2021-02-07T15:43:01+01:00'
                      date: '2021-03-22'
                      room_type_id: 1
                      availability: 4
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 474
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-22'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 1566
                      created_at: '2020-10-21T10:49:03+02:00'
                      date: '2021-03-23'
                      room_type_id: 1
                      availability: 5
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 477
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-23'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 1569
                      created_at: '2020-10-21T10:49:03+02:00'
                      date: '2021-03-24'
                      room_type_id: 1
                      availability: 5
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 480
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-24'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 1572
                      created_at: '2020-10-21T10:49:03+02:00'
                      date: '2021-03-25'
                      room_type_id: 1
                      availability: 5
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                    - id: 483
                      created_at: '2020-10-21T10:46:02+02:00'
                      date: '2021-03-25'
                      room_type_id: 6
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      room_type: null
                'Liste des disponibilités des types de chambres #1 et #2':
                  value:
                    - id: 693
                      created_at: '2021-03-15T10:59:02+01:00'
                      date: '2021-03-15'
                      room_type_id: 1
                      availability: 6
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 522
                      created_at: '2021-03-10T14:05:02+01:00'
                      date: '2021-03-15'
                      room_type_id: 2
                      availability: 11
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 735
                      created_at: '2021-03-16T19:19:02+01:00'
                      date: '2021-03-16'
                      room_type_id: 1
                      availability: 1
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 734
                      created_at: '2021-03-16T17:32:02+01:00'
                      date: '2021-03-16'
                      room_type_id: 2
                      availability: 7
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 737
                      created_at: '2021-03-17T17:35:01+01:00'
                      date: '2021-03-17'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 738
                      created_at: '2021-03-17T17:35:01+01:00'
                      date: '2021-03-17'
                      room_type_id: 2
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 741
                      created_at: '2021-03-17T17:41:02+01:00'
                      date: '2021-03-18'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 742
                      created_at: '2021-03-17T17:41:02+01:00'
                      date: '2021-03-18'
                      room_type_id: 2
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 747
                      created_at: '2021-03-17T17:42:01+01:00'
                      date: '2021-03-19'
                      room_type_id: 1
                      availability: 0
                      source: Thais
                      user: cron
                      ack_at: null
                      archived: false
                      room_type: null
                    - id: 748
                      created_at: '2021-03-17T17:42:01+01:00'
                      date: '2021-03-19'
                      room_type_id: 2
                      availability: 0
                      source: Thais
[...]
